#main-carousel {

    height: calc(100vh - 90px);
}

.carousel-item {

    background-color: blueviolet;
    height: calc(100vh - 90px);
}

.carousel-item img {

    background-color: red;
    height: 100%;
}