<div id="presentation-container" class="container">

    <div class="col-12 text-center" style="margin-top:40px; margin-bottom:40px;">

        <h3>Détente & Bien-être</h3>
        
    </div>

    <div class="col-12" style="padding-left:0px; padding-right:0px; margin-bottom:40px;">
        
        <div class="row no-gutters">

            <div class="col-sm text-justify" style="height:100%; padding-left:50px; padding-right:50px;">

                <p style="color:rgba(0,0,0,0.9);">
                    Le salon « Un R de détente » à Albi est bien plus qu’un salon de coiffure. C’est un cocon de bien-être pour vous et pour vos cheveux ! Romain et son équipe vous reçoivent avec une convivialité et un professionnalisme qui font leur marque distinctive. Talentueux coiffeurs-créateurs, ils mettent en outre à votre portée une gamme de soins exceptionnelles pour sublimer vos cheveux.
                </p>
                 
            </div>

        </div>

    </div>

</div>