<div id="presentation-container" class="container">

    <div class="col-12" style="background-color:red; padding-left:0px; padding-right:0px;">
        
        <div class="row no-gutters">
            <div class="col-sm text-center" style="background-color:blue; height:100%;">A</div>
            <div class="col-sm text-center" style="background-color:green; height:100%;">B</div>
            <div class="col-sm text-center" style="background-color:orange; height:100%;">C</div>
        </div>

    </div>

</div>