<div id="presentation-container" class="container">

    <div class="col-12 text-center" style="margin-top:60px; margin-bottom:40px;">

        <h3>Détente & Bien-être</h3>
        
    </div>

    <div class="col-12" style="padding-left:0px; padding-right:0px; margin-bottom:40px;">
        
        <div class="row no-gutters">

            <div class="col-sm text-justify" style="height:100%; padding-left:50px; padding-right:50px;">

                <p style="color:rgba(0,0,0,0.9);">
                    Le salon « Un R de détente » à Albi est bien plus qu’un salon de coiffure. C’est un cocon de bien-être pour vous et pour vos cheveux ! Romain et son équipe vous reçoivent avec une convivialité et un professionnalisme qui font leur marque distinctive. Talentueux coiffeurs-créateurs, ils mettent en outre à votre portée une gamme de soins exceptionnelles pour sublimer vos cheveux.
                </p>

                <p class="text-right">
                    <a style="color:lightsalmon; text-decoration:underline;" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Lire la suite
                    </a>
                </p>
                
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <p>
                            Déjà entendu parler d’un spa pour cheveux ? Si ce n’est pas le cas, allez tout de suite découvrir le salon de coiffure mixte « Un R de détente » à deux pas de la gare d’Albi. Ici, les cheveux sont cajolés, chouchoutés, magnifiés par des coiffeurs aussi experts que sympathiques. Partenaire de la prestigieuse marque la Biosthétique Paris, le salon vous offre notamment des prestations de soins qui rendront vie même aux cheveux les plus abîmés. Tentez le soin Protection Cheveux Complexes (PCC) ou le soin Oil Therapy et vous verrez littéralement vos cheveux resusciter ! 
                        </p>

                        <p>
                            Mais c’est bien sûr aussi pour les coupes et couleurs que l’on vient chez Un R de détente. Avec leur sens de la tendance et de l’audace, vos coiffeurs vous accompagnent dans vos défis capillaires les plus fous : coupe transformation, couleur flashy ou naturelle (avec la coloration végétale), mèches lumineuses, laissez-les vous guider pour un changement capillaire au top ! 
                        </p>

                        <p>
                            Les hommes adoreront de leur côté les prestations de barbier : rasage traditionnelle, taille de barbe pour un look biker… Faites selon vos envies et votre caractère.
                        </p>

                    </div>
                </div>
                 
            </div>

        </div>

    </div>

</div>