<nav id="main-navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">

        <!-- Brand Icon -->
        <!-- <i class="fas fa-cut"></i> -->
    
        <!-- Brand Name -->
        {{ brandName }}

    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
    
        <ul class="navbar-nav mr-auto">

            <!-- Navbar Menu Items -->

            <li class="nav-item">
                <a class="nav-link" href="#pricings-container">Nos Prestations</a>
            </li>

            <!--
            <li class="nav-item">
                <a class="nav-link" href="#team-container">Notre Equipe</a>
            </li>
            -->

            <li class="nav-item">
                <a class="nav-link" href="#contact-container">Nous Contacter</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#map-container">Nous Localiser</a>
            </li>

        </ul>

        <span class="navbar-text">

            <a class="nav-link btn-rdv" href="https://www.planity.com/un-r-de-detente-81000-albi" target="_blank" >
                <i class="far fa-calendar-alt" style="margin-right:5px;"></i>
                Prendre Rendez-Vous
            </a>

        </span>

    </div>
    
</nav>