<div id="pricings-container" class="container">

    <div class="col-12 text-center" style="margin-top:40px; margin-bottom:40px;">
    
        <h3>Nos Prestations</h3>

        <div style="background-color:rgba(0,0,0,0.2); height:1px; width:200px; margin-left:auto; margin-right:auto; margin-bottom:5px;"></div>
                
        <p style="color: rgba(0,0,0,0.4);">coiffure, spa, massage</p>
        
    </div>

    <div class="container">

        <div class="row" *ngIf="showCategories">
            <div class="col-sm pricing-category" *ngFor="let category of pricingCategories" (click)="onPricingCategoryClick(category)">
                <img src="{{ category.img }}" class="img-thumbnail img-pricing-category disable-select">
                <p class="pricing-category-title disable-select">{{ category.title }}</p>
                <p class="pricing-category-description disable-select">{{ category.description }}</p>
            </div>
        </div>

        <div class="row" *ngIf="!showCategories">
            <div class="col" id="pricing-category-details">
                <div class="row pricing-category-details-header">
                    <div class="col text-left pricing-category-details-title">{{ selectedCategory.title }}</div>
                    <div class="col text-right btn-close-category disable-select"><span (click)="showPricingCategories()"><i class="fas fa-th" style="margin-left: 5px;"></i></span></div>
                </div>
                <div class="row">
                    <table class="table" *ngFor="let prestation of selectedCategory.prestations">
                        <p *ngIf="selectedCategory.prestations.length>1" class="pricing-category-details-group-title">{{ prestation.group }}</p>
                        <tbody>
                            <tr *ngFor="let item of prestation.items">
                                <div class="row pricing-category-details-group-items-row" [ngClass]="{'no-border-bottom':(prestation.items.indexOf(item)==prestation.items.length-1) ? true : false}">
                                    <div class="col-lg-8 pricing-category-details-group-item text-left">{{ item.description }}</div>
                                    <div class="col-lg-2 pricing-category-details-group-item text-right"><span>{{ item.duration }}<i class="far fa-clock" style="margin-left:5px;"></i></span></div>
                                    <div class="col-lg-2 pricing-category-details-group-item text-right">{{ item.price}}<i class="fas fa-euro-sign" style="margin-left:5px;"></i></div>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>