<div id="pricings-container" class="container">

    <div class="accordion" id="accordion-pricings-container">

        <!-- Cards Items -->

        <div *ngFor="let pricingCategory of pricingCategories" class="card">

            <div class="card-header" [id]=" 'heading-' + pricingCategories.indexOf(pricingCategory) ">

                <h2 class="mb-0">
                <button class="btn btn-link collapsed" style="padding: 0px;" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse-' + pricingCategories.indexOf(pricingCategory) " aria-expanded="false" [attr.aria-controls]=" 'collapse-' + pricingCategories.indexOf(pricingCategory)">

                    {{ pricingCategory.title }}

                </button>
                </h2>

            </div>

            <div [id]=" 'collapse-' + pricingCategories.indexOf(pricingCategory) " class="collapse" [attr.aria-labelledby]=" 'heading-' + pricingCategories.indexOf(pricingCategory) " data-parent="#accordion-pricings-container">

                <div class="card-body">
                    
                    <div *ngFor="let item of pricingCategory.items" style="margin-bottom:1rem;">
                        
                        <p style="margin-bottom:0px;">{{ item.description }}</p>
                        <span class="badge badge-pill badge-light">{{ item.duration }}</span>
                        <span class="badge badge-pill badge-light">{{ item.price }}</span>

                    </div>

                </div>

            </div>

        </div>

</div>