<div id="pricings-container" class="container">

    <div id="pricings-title-container" class="container-fluid">
        <p id="pricings-title">{{ pricingsTitle.toUpperCase() }}</p>
    </div>

    <div class="accordion" id="accordion-pricings-container">

        <!-- Cards Items -->

        <div *ngFor="let pricingCategory of pricingCategories" class="card">

            <div class="card-header" [id]=" 'heading-' + pricingCategories.indexOf(pricingCategory) ">

                <h2 class="mb-0">
                <button class="btn btn-link collapsed" style="padding: 0px;" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse-' + pricingCategories.indexOf(pricingCategory) " aria-expanded="false" [attr.aria-controls]=" 'collapse-' + pricingCategories.indexOf(pricingCategory)">

                    {{ pricingCategory.title }}

                </button>
                </h2>

            </div>

            <div [id]=" 'collapse-' + pricingCategories.indexOf(pricingCategory) " class="collapse" [attr.aria-labelledby]=" 'heading-' + pricingCategories.indexOf(pricingCategory) " data-parent="#accordion-pricings-container">

                <div class="card-body">

                    <div class="row" *ngFor="let item of pricingCategory.items">

                        <div class="col-12 col-md-8">

                            <p style="margin-bottom:1rem;">{{ item.description }}</p>

                        </div>

                        <div class="col-12 col-md-4 text-left text-md-right">

                            <p style="margin-bottom:1rem;">{{ item.duration }}, {{ item.price }}<i class="fas fa-euro-sign" style="margin-left:5px;"></i></p>
                            
                        </div>

                    </div>

                </div>

            </div>

        </div>

</div>